my-counter {
  button,
  span {
    font-size: 3rem;
    font-family: monospace;
    padding: 0 .5rem;
  }

  button {
    background: pink;
    color: black;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(173, 61, 85, .5);
  }

  button:active {
    background: #ad3d55;
    color: white;
  }
}
